# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
build/
dist/

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Chrome Extension / IDEs
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
EOT

startup.txt